doctype html
html
	head
		title=title
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' type='text/css' href='https://ed952391c30aa8d19fb4bf5f3b4b355329242c32.googledrive.com/host/0B8VElOPvAs5qeGxWWFdVaDlhZVU/err.css')


	body
		block content