doctype html
html
	head
		title=title
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' type='text/css' href='https://0353c8344bf7fe680f5f48c8b826e6aab3b0ffd4.googledrive.com/host/0B8VElOPvAs5qNXc2V0d4S2xLZmc/home.css')
		link(rel='stylesheet' type='text/css' href='https://0353c8344bf7fe680f5f48c8b826e6aab3b0ffd4.googledrive.com/host/0B8VElOPvAs5qNXc2V0d4S2xLZmc/component2.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')


	body
		block content