doctype html
html
	head
		title=title
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(ref='stylesheet' herf='https://097b4edc809255791e9b9049108d4894257f1437.googledrive.com/host/0B2HAvB_6mypLfkVaRGZ2STM0VFo5WXE0RGo0UlA2NVF2SU1zTFZLdGZtTFZTbV9oV0tLNDA/normalize.css')
		link(ref='stylesheet' herf='https://097b4edc809255791e9b9049108d4894257f1437.googledrive.com/host/0B2HAvB_6mypLfkVaRGZ2STM0VFo5WXE0RGo0UlA2NVF2SU1zTFZLdGZtTFZTbV9oV0tLNDA/styles.css')
		link(rel='stylesheet' type='text/css' href='https://097b4edc809255791e9b9049108d4894257f1437.googledrive.com/host/0B2HAvB_6mypLfkVaRGZ2STM0VFo5WXE0RGo0UlA2NVF2SU1zTFZLdGZtTFZTbV9oV0tLNDA/home.css')
		link(rel='stylesheet' type='text/css' href='https://googledrive.com/host/0B2HAvB_6mypLfkVaRGZ2STM0VFo5WXE0RGo0UlA2NVF2SU1zTFZLdGZtTFZTbV9oV0tLNDA/component2.css')
		script(src='https://googledrive.com/host/0B-EV3mRcfXTISDBJTzdrOHFoQ2c/modernizr-2.6.2.min.js')


	body
		block content